{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="starter-template">




    </div>


        <form action="login_view" method="post" class="col-md-3">
              <p class="lead">
                <h1>Login Page</h1>
              </p>

            {% csrf_token %}

            <input name="email" type="text" class="form-control" placeholder="Enter Name">


            <input name="password"  type="password" class="form-control"  placeholder="Enter email">
<br>

           <input class="btn btn-primary" type="submit" value="Gönder">

        </form>



</div>
{% endblock %}